body, p, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif; }

.login-page, .register-page {
  background: linear-gradient(to right, #00f260 0%, #0b799b 100%); }

.login-logo a, .register-logo a {
  color: #fff; }

.login-box-body, .register-box-body {
  color: #000;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3); }

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
  color: #0b7c9a; }

.btn-primary {
  background-color: #02db6b;
  border-color: #02db6b; }

.btn-experimente {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 33%;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  margin: 0 auto 30px;
  background: #60d600;
  padding: 14px;
  border-radius: 40px;
  border: 1px solid #60d600; }

.btn-experimente:hover {
  color: #60d600;
  background: #fff;
  text-decoration: none; }

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
  background-color: #04c874;
  border-color: #04c874; }

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  border-color: #60d600; }

.banner--stick {
  background: #119ac0; }

.hero {
  padding: 5%; }

.box-1 {
  padding: 13px 0; }

.hero h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 10% 15% 8%; }

.mouse {
  display: block;
  margin: 0 auto;
  width: 2%; }

.fab.fa-facebook {
  color: #60d600; }

.sobre h2 {
  font-size: 24px;
  color: #119ac0;
  position: relative;
  text-transform: uppercase;
  font-weight: 600; }

.sobre h2:after {
  border-bottom: 4px solid #60d600;
  content: "";
  display: block;
  width: 62%;
  margin-top: 2px; }

.sobre p {
  color: #666666;
  font-size: 16px;
  text-align: justify; }

.sobre {
  padding: 10% 0; }

.text-sobre {
  padding: 5%; }

.btn-pcp {
  background: #119ac0;
  color: #fff;
  font-weight: 600;
  font-size: 43px;
  display: block;
  text-align: center;
  border-radius: 25px;
  padding: 25px;
  text-transform: uppercase;
  margin: 10% 0;
  border: 1px solid #119ac0;
  position: relative; }

.btn-pcp:hover {
  text-decoration: none; }

.btn-pcp:before {
  border: 1px solid #119ac0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 25px;
  left: 15px;
  top: 15px; }

.funcionamento h2 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase; }

.funcionamento .sub {
  text-align: center;
  font-size: 22px;
  width: 60%;
  display: block;
  margin: 0 auto 25px;
  color: #fff;
  padding: 15px 0; }

.funcionamento {
  background-size: cover !important;
  padding: 10% 0; }

.title {
  background: #60d600;
  font-size: 22px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 25px 25px 0px 0px;
  padding: 20px 0; }

.content {
  background: #fff;
  padding: 20px;
  min-height: 167px;
  border-radius: 0 0px 25px 25px; }

.title h4 {
  margin-bottom: 0; }

.content p {
  text-align: center;
  color: #5c5e5e;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase; }

.prazo {
  text-align: center; }

.prazo span {
  color: #119ac0;
  font-size: 17px;
  font-weight: 600; }

.carousel-inner {
  margin: 5% 0; }

.carousel-item img {
  border-radius: 25px !important;
  width: 100%;
  height: auto; }

.vantagens h2, .aplic h2, .contato h2, .faq h2 {
  text-align: center;
  color: #119ac0;
  font-weight: 700;
  text-transform: uppercase; }

.faq h2 {
  padding: 5% 0; }

.resumo-van {
  color: #666666;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px; }

.numero {
  float: left;
  background: #60d600;
  color: #fff;
  font-size: 23px;
  height: 32px;
  width: 32px;
  font-weight: 600;
  border-radius: 100%; }

.id-1 {
  padding: 0 12px; }

.id-2, .id-7 {
  padding: 0 10px; }

.id-3, .id-5, .id-8, .id-9 {
  padding: 0 9px; }

.id-4, .id-6 {
  padding: 0 8px; }

.title-van {
  font-size: 22px;
  display: block;
  float: left;
  padding: 3px 5px;
  color: #fff;
  width: 90%;
  text-transform: uppercase; }

.col-id-1, .col-id-4, .col-id-7 {
  background: #1cafd1;
  position: relative;
  padding: 40px;
  border-bottom: 1px solid #fff; }

.col-id-1:after, .col-id-4:after, .col-id-7:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(28, 175, 209, 0);
  border-left-color: #1cafd1;
  border-width: 25px;
  margin-top: -25px;
  z-index: 400; }

.col-id-2, .col-id-5, .col-id-8 {
  background: #16a0c0;
  padding: 40px;
  position: relative;
  border-bottom: 1px solid #fff; }

.col-id-2:after, .col-id-5:after, .col-id-8:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(28, 175, 209, 0);
  border-left-color: #16a0c0;
  border-width: 25px;
  margin-top: -25px;
  z-index: 400; }

.col-id-3, .col-id-6, .col-id-9 {
  background: #138fac;
  padding: 40px;
  position: relative;
  border-bottom: 1px solid #fff; }

.text-van {
  clear: both;
  color: #fff;
  font-size: 14px; }

.vantagens {
  padding: 5% 0; }

.vantagens .row {
  margin: 0; }

.aplic img {
  display: block;
  margin: 0 auto; }

.aplic .resumo-van {
  margin-bottom: 40px; }

.aplic h4 {
  text-align: center;
  font-size: 22px;
  color: #119ac0;
  padding: 20px;
  line-height: 30px; }

.aplic {
  padding: 4% 0; }

.form-rodape input {
  background: none;
  border: none;
  border-bottom: 1px solid #39a9c8;
  border-radius: 0;
  color: #666;
  font-weight: 600; }

.form-rodape {
  width: 50%;
  display: block;
  margin: 0 auto; }

.form-rodape input:focus {
  color: #666;
  background: none;
  box-shadow: none; }

.form-rodape .btn-primary {
  background: #8bd41a;
  border-color: #8bd41a;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 13px 25px;
  border-radius: 35px;
  display: block;
  width: 75%;
  margin: 0 auto; }

.contato {
  padding: 6% 0;
  background-size: cover !important; }

.assinatura {
  background: #119ac0;
  padding: 20px; }

.logo-roda span {
  font-size: 14px;
  color: #fff;
  font-weight: 600; }

.logo-roda {
  text-align: center; }

.bgfaq {
  padding: 10% 0;
  background-size: cover !important;
  position: relative; }

.bgfaq:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .7; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s; }

.accordion .active, .accordion:hover {
  background-color: #119ac0;
  color: #fff; }

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.accordion .active:after {
  content: "\2212"; }

.panel {
  padding: 0 18px;
  background-color: #ccc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.pagination {
  margin: 30px 0; }

/*ADMIN*/
.user-panel > .info > p {
  font-size: 12px; }

@media (max-width: 991px) {
  .hero h1 {
    font-size: 35px;
    padding: 10%; }

  .navbar-toggler {
    background: #fff;
    border-color: #fff; }

  .btn-experimente {
    width: 40%;
    font-size: 20px; }

  .text-sobre {
    padding: 0% 2%; }

  .btn-pcp {
    font-size: 25px;
    width: 100%; }

  .sub {
    width: 100%; }

  .title h4 {
    font-size: 20px; }

  .content p {
    font-size: 13px; }

  .box-1 {
    padding: 0;
    min-height: 75px; }

  .numero {
    float: none;
    margin: 0 auto; }

  .title-van {
    text-align: center;
    float: none;
    padding: 15px;
    font-size: 18px;
    width: 100%; }

  .col-id-1, .col-id-4, .col-id-7, .col-id-2, .col-id-5, .col-id-8, .col-id-3, .col-id-6, .col-id-9 {
    padding: 25px; }

  .col-id-1:after, .col-id-4:after, .col-id-7:after, .col-id-2:after, .col-id-5:after, .col-id-8:after {
    border-width: 15px;
    margin-top: 0px; }

  .aplic h4 {
    font-size: 17px;
    padding: 15px;
    line-height: 23px; }

  .form-rodape {
    width: 75%; }

  .form-rodape .btn-primary {
    font-size: 20px; }

  .funcionamento .sub {
    width: 100%; } }
@media (max-width: 500px) {
  .navbar-brand {
    margin: 0; }

  .navbar {
    background: #119ac0; }

  .bgfaq {
    margin-top: 57px;
    padding: 13% 0; }

  .hero {
    margin-top: 57px; }

  .col-id-1:after, .col-id-4:after, .col-id-7:after, .col-id-2:after, .col-id-5:after, .col-id-8:after {
    display: none; }

  .hero h1 {
    font-size: 20px;
    padding: 10% 0; }

  .btn-experimente {
    width: 70%;
    font-size: 19px;
    padding: 7px; }

  .sobre {
    padding: 10%; }

  .btn-pcp {
    font-size: 17px; }

  .funcionamento h2 {
    font-size: 30px; }

  .funcionamento .sub {
    font-size: 15px; }

  .box-1 {
    min-height: auto; }

  .content {
    min-height: auto;
    margin-bottom: 30px; }

  .title {
    padding: 15px 0; }

  .vantagens h2, .aplic h2, .contato h2, .faq h2 {
    font-size: 25px; }

  .resumo-van {
    font-size: 15px; }

  .text-van {
    text-align: center; }

  .aplic h4 {
    margin-bottom: 30px; }

  .aplic img {
    width: 40%; }

  .form-rodape .btn-primary {
    font-size: 15px;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
