$branco:#fff;
$preto:#000;
$azul:#0b7c9a;
$verde:#02db6b;
$verde-hover:#04c874;
$font: "Poppins",sans-serif;
$azul-title:#119ac0;
$linha-verde:#60d600;

$absolute:absolute;
$relative:relative;
$block: block;

$upper: uppercase;
$ftsemibold:600;
$ftbold:700;
$txcenter:center;
$ft15:15px;
$ft24:24px;
$ft50:50px;



body, p,a,h1,h2,h3,h4,h5,h6{
    font-family:$font;
}
.login-page, .register-page {
    background: linear-gradient(to right, rgb(0, 242, 96) 0%, rgb(11, 121, 155) 100%);
}
.login-logo a, .register-logo a{
    color:$branco;
}

.login-box-body, .register-box-body{
    color: $preto;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);

}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback{
    color:$azul;
}

.btn-primary {
    background-color: $verde;
    border-color: $verde;
}
.btn-experimente{
    text-align: $txcenter;
    margin: 0 auto;
    display: $block;
    width: 33%;
    text-transform: $upper;
    color: $branco;
    font-size: $ft24;
    margin: 0 auto 30px;
    background: $linha-verde;
    padding: 14px;
    border-radius: 40px;
    border:1px solid $linha-verde;
}
.btn-experimente:hover{
    color: $linha-verde;
    background: $branco;
    text-decoration: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: $verde-hover;
    border-color: $verde-hover;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: $ftsemibold;
    font-size: $ft15;
    color: $branco;
    text-transform: $upper;
    padding-bottom:2px;
    border-bottom: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:$branco;
    border-color: $linha-verde;
}

.banner--stick{
    background: $azul-title;
}
.hero{
    padding: 5%;
}
.box-1{
    padding:13px 0;
}
.hero h1{
    font-size: $ft50;
    font-weight: $ftbold;
    color: $branco;
    text-align: $txcenter;
    padding: 10% 15% 8%;
}
.mouse{
    display:$block;
    margin:0 auto;
    width: 2%;
}
.fab.fa-facebook{
    color: $linha-verde;
}

.sobre h2{
    font-size: $ft24;
    color: $azul-title;
    position:$relative;
    text-transform: $upper;
    font-weight: $ftsemibold;
}
.sobre h2:after{
    border-bottom:4px solid $linha-verde;
    content:"";
    display:$block;
    width: 62%;
    margin-top: 2px;
}

.sobre p{
    color: #666666;
    font-size: 16px;
    text-align: justify;
}
.sobre{
    padding:10% 0;
}
.text-sobre{
    padding:5%;
}

.btn-pcp{
    background: $azul-title;
    color: $branco;
    font-weight: $ftsemibold;
    font-size: 43px;
    display: $block;
    text-align: $txcenter;
    border-radius: 25px;
    padding: 25px;
    text-transform: $upper;
    margin: 10% 0;
    border:1px solid $azul-title;
    position: $relative;
}
.btn-pcp:hover{
    text-decoration: none;
}

.btn-pcp:before{
    border:1px solid $azul-title;
    content:"";
    display:$block;
    width:100%;
    height: 100%;
    position: $absolute;
    border-radius: 25px;
    left: 15px;
    top: 15px;
}

.funcionamento h2{
    font-size: 40px;
    text-align:$txcenter;
    color: $branco;
    font-weight:$ftsemibold;
    text-transform: $upper;
}

.funcionamento .sub{
    text-align: $txcenter;
    font-size: 22px;
    width: 60%;
    display: $block;
    margin: 0 auto 25px;
    color: $branco;
    padding: 15px 0;
}
.funcionamento{
    background-size: cover !important;
    padding: 10% 0;

}

.title{
    background: $linha-verde;
    font-size: 22px;
    text-align: $txcenter;
    color: $branco;
    text-transform: $upper;
    font-weight: $ftsemibold;
    border-radius: 25px 25px 0px 0px;
    padding: 20px 0;
}

.content{
    background:$branco;
    padding:20px;
    min-height:167px;
    border-radius: 0 0px 25px 25px;
}

.title h4{
    margin-bottom:0;
}

.content p{
    text-align: $txcenter;
    color: #5c5e5e;
    font-size: 16px;
    font-weight: $ftsemibold;
    text-transform:$upper;
}
.prazo{
    text-align:$txcenter;
}

.prazo span{
    color:$azul-title;
    font-size:17px;
    font-weight: $ftsemibold;
}
.carousel-inner{
    margin: 5% 0;
}

.carousel-item img{
    border-radius: 25px !important;
    width: 100%;
    height: auto;
}

.vantagens h2, .aplic h2, .contato h2, .faq h2{
    text-align: $txcenter;
    color:$azul-title;
    font-weight: $ftbold;
    text-transform: $upper;
}
.faq h2{
    padding:5% 0;
}
.resumo-van{
    color: #666666;
    font-size: 18px;
    text-align: $txcenter;
    margin-bottom:30px;
}

.numero{
    float: left;
    background: $linha-verde;
    color: $branco;
    font-size: 23px;
    height: 32px;
    width: 32px;
    font-weight: $ftsemibold;
    border-radius:100%;
}
.id-1{
    padding: 0 12px;
}
.id-2, .id-7{
    padding: 0 10px;
}
.id-3, .id-5, .id-8, .id-9{
    padding: 0 9px;
}
.id-4, .id-6{
    padding: 0 8px;
}

.title-van{
    font-size: 22px;
    display: $block;
    float: left;
    padding: 3px 5px;
    color: $branco;
    width: 90%;
    text-transform: $upper;
}

.col-id-1,.col-id-4,.col-id-7{
    background: #1cafd1;
    position: $relative;
    padding: 40px;
    border-bottom: 1px solid $branco;
}

.col-id-1:after,.col-id-4:after,.col-id-7:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: $absolute;
    pointer-events: none;
    border-color: rgba(28, 175, 209, 0);
    border-left-color: #1cafd1;
    border-width: 25px;
    margin-top: -25px;
    z-index: 400;
}
.col-id-2,.col-id-5,.col-id-8{
    background: #16a0c0;
    padding: 40px;
    position: $relative;
    border-bottom: 1px solid $branco;
}

.col-id-2:after, .col-id-5:after, .col-id-8:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: $absolute;
    pointer-events: none;
    border-color: rgba(28, 175, 209, 0);
    border-left-color: #16a0c0;
    border-width: 25px;
    margin-top: -25px;
    z-index: 400;
}



.col-id-3,.col-id-6,.col-id-9{
    background: #138fac;
    padding: 40px;
    position: $relative;
    border-bottom: 1px solid $branco;
}

.text-van{
    clear: both;
    color:$branco;
    font-size: 14px;
}

.vantagens{padding: 5% 0;}
.vantagens .row{
    margin:0;
}
.aplic img{
    display:$block;
    margin:0 auto;
}

.aplic .resumo-van{
    margin-bottom: 40px;
}

.aplic h4{
    text-align: $txcenter;
    font-size: 22px;
    color: $azul-title;
    padding: 20px;
    line-height: 30px;
}
.aplic{
    padding:4% 0;
}

.form-rodape input{
    background: none;
    border: none;
    border-bottom: 1px solid #39a9c8;
    border-radius: 0;
    color: #666;
    font-weight: $ftsemibold;
}
.form-rodape{
    width: 50%;
    display: $block;
    margin: 0 auto;
}
.form-rodape input:focus{
    color: #666;
    background: none;
    box-shadow: none;
}
.form-rodape .btn-primary{
    background: #8bd41a;
    border-color: #8bd41a;
    font-size: 24px;
    text-align: $txcenter;
    font-weight: $ftsemibold;
    text-transform: $upper;
    padding: 13px 25px;
    border-radius: 35px;
    display: $block;
    width: 75%;
    margin:0 auto;
}
.contato{
    padding: 6% 0;
    background-size: cover !important;
}

.assinatura{
    background: $azul-title;
    padding: 20px;
}

.logo-roda span{
    font-size: 14px;
    color: $branco;
    font-weight: $ftsemibold;
}
.logo-roda{
    text-align:$txcenter;
}

.bgfaq{
    padding: 10% 0;
    background-size:cover !important;
    position: relative;
}
.bgfaq:before{
    content: "";
    display: $block;
    position: $absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: $preto;
    opacity: .7;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion .active, .accordion:hover {
    background-color: $azul-title;
    color: $branco;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion .active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #ccc;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.pagination{
    margin:30px 0;
}

/*ADMIN*/

.user-panel>.info>p{
    font-size:12px;
}

@media(max-width:991px){
    .hero h1 {
        font-size: 35px;
        padding: 10%;
    }
    .navbar-toggler{
        background: $branco;
        border-color: $branco;
    }
    .btn-experimente{
        width:40%;
        font-size: 20px;
    }
    .text-sobre {
        padding: 0% 2%;
    }
    .btn-pcp{
        font-size:25px;
        width:100%;
    }
    .sub{
        width:100%;
    }
    .title h4{
        font-size:20px;
    }
    .content p{
        font-size:13px;
    }
    .box-1 {
        padding: 0;
        min-height: 75px;
    }
    .numero{
        float:none;
        margin:0 auto;
    }
    .title-van{
        text-align: $txcenter;
        float: none;
        padding: 15px;
        font-size: 18px;
        width: 100%;
    }
    .col-id-1, .col-id-4, .col-id-7,.col-id-2, .col-id-5, .col-id-8,.col-id-3, .col-id-6, .col-id-9{
        padding:25px;
    }
    .col-id-1:after, .col-id-4:after, .col-id-7:after,.col-id-2:after, .col-id-5:after, .col-id-8:after{
        border-width: 15px;
        margin-top: 0px;
    }
    .aplic h4 {
        font-size: 17px;
        padding: 15px;
        line-height: 23px;
    }
    .form-rodape{
        width:75%;
    }
    .form-rodape .btn-primary{
        font-size:20px;
    }
    .funcionamento .sub{
        width: 100%;
    }
}

@media(max-width:500px){
    .navbar-brand{
        margin:0;
    }
    .navbar{
        background: $azul-title;
    }
    .bgfaq{
        margin-top: 57px;
        padding: 13% 0;
    }
    .hero{margin-top: 57px;}
    .col-id-1:after, .col-id-4:after, .col-id-7:after, .col-id-2:after, .col-id-5:after, .col-id-8:after{
        display: none;
    }
    .hero h1 {
        font-size: 20px;
        padding: 10% 0;
    }
    .btn-experimente {
        width: 70%;
        font-size: 19px;
        padding: 7px;
    }
    .sobre {
        padding: 10%;
    }
    .btn-pcp {
        font-size: 17px;
    }
    .funcionamento h2 {
        font-size: 30px;
    }
    .funcionamento .sub {
        font-size: 15px;
    }
    .box-1{
        min-height:auto;
    }
    .content{
        min-height:auto;
        margin-bottom:30px;
    }
    .title{
        padding:15px 0;
    }
    .vantagens h2, .aplic h2, .contato h2, .faq h2{
        font-size:25px;
    }
    .resumo-van{
        font-size:15px;
    }
    .text-van{
        text-align:$txcenter;
    }
    .aplic h4{
        margin-bottom:30px;
    }
    .aplic img{
        width:40%;
    }
    .form-rodape .btn-primary {
        font-size: 15px;
        width: 100%;
    }
}
